@import "tailwindcss";

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 8, 10, 12;
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      )
      fixed;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(139, 92, 246, 0.5) rgba(0, 0, 0, 0.2);
  }
  
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(139, 92, 246, 0.5);
    border-radius: 20px;
  }